---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/adrian-lara
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '37'
      X-Ratelimit-Reset:
      - '1512593270'
      Etag:
      - W/"fcc3fa663694cf5a68b783d2366f6c02"
      Last-Modified:
      - Tue, 05 Dec 2017 22:28:10 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"adrian-lara","id":30608004,"avatar_url":"https://avatars2.githubusercontent.com/u/30608004?v=4","gravatar_id":"","url":"https://api.github.com/users/adrian-lara","html_url":"https://github.com/adrian-lara","followers_url":"https://api.github.com/users/adrian-lara/followers","following_url":"https://api.github.com/users/adrian-lara/following{/other_user}","gists_url":"https://api.github.com/users/adrian-lara/gists{/gist_id}","starred_url":"https://api.github.com/users/adrian-lara/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/adrian-lara/subscriptions","organizations_url":"https://api.github.com/users/adrian-lara/orgs","repos_url":"https://api.github.com/users/adrian-lara/repos","events_url":"https://api.github.com/users/adrian-lara/events{/privacy}","received_events_url":"https://api.github.com/users/adrian-lara/received_events","type":"User","site_admin":false,"name":"Adrian
        Lara","company":null,"blog":"https://www.linkedin.com/in/a-lara/","location":"Denver,
        CO","email":null,"hireable":true,"bio":"Aspiring developer at Turing School
        of Software & Design","public_repos":28,"public_gists":9,"followers":0,"following":0,"created_at":"2017-07-31T22:38:35Z","updated_at":"2017-12-05T22:28:10Z"}'
  recorded_at: Wed, 06 Dec 2017 20:33:57 GMT
[...]
