---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1512714250'
      Etag:
      - W/"9c79127a40f86294705a25cab5f7dad2"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_KEY>"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":105618108,"name":"activerecord_exploration","full_name":"adrian-lara/activerecord_exploration","owner":{"login":"adrian-lara","id":30608004,"avatar_url":"https://avatars2.githubusercontent.com/u/30608004?v=4","gravatar_id":"","url":"https://api.github.com/users/adrian-lara","html_url":"https://github.com/adrian-lara","followers_url":"https://api.github.com/users/adrian-lara/followers","following_url":"https://api.github.com/users/adrian-lara/following{/other_user}","gists_url":"https://api.github.com/users/adrian-lara/gists{/gist_id}","starred_url":"https://api.github.com/users/adrian-lara/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/adrian-lara/subscriptions","organizations_url":"https://api.github.com/users/adrian-lara/orgs","repos_url":"https://api.github.com/users/adrian-lara/repos","events_url":"https://api.github.com/users/adrian-lara/events{/privacy}","received_events_url":"https://api.github.com/users/adrian-lara/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/adrian-lara/activerecord_exploration","description":null,"fork":true,"url":"https://api.github.com/repos/adrian-lara/activerecord_exploration","forks_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/forks","keys_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/keys{/key_id}","collaborators_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/teams","hooks_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/hooks","issue_events_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/issues/events{/number}","events_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/events","assignees_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/assignees{/user}","branches_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/branches{/branch}","tags_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/tags","blobs_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/git/refs{/sha}","trees_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/git/trees{/sha}","statuses_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/statuses/{sha}","languages_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/languages","stargazers_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/stargazers","contributors_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/contributors","subscribers_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/subscribers","subscription_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/subscription","commits_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/commits{/sha}","git_commits_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/git/commits{/sha}","comments_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/comments{/number}","issue_comment_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/issues/comments{/number}","contents_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/contents/{+path}","compare_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/compare/{base}...{head}","merges_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/merges","archive_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/downloads","issues_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/issues{/number}","pulls_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/pulls{/number}","milestones_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/milestones{/number}","notifications_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/labels{/name}","releases_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/releases{/id}","deployments_url":"https://api.github.com/repos/adrian-lara/activerecord_exploration/deployments","created_at":"2017-10-03T05:41:00Z","updated_at":"2017-10-03T05:41:02Z","pushed_at":"2017-06-30T15:55:56Z","git_url":"git://github.com/adrian-lara/activerecord_exploration.git","ssh_url":"git@github.com:adrian-lara/activerecord_exploration.git","clone_url":"https://github.com/adrian-lara/activerecord_exploration.git","svn_url":"https://github.com/adrian-lara/activerecord_exploration","homepage":null,"size":29,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":113238083,"name":"apicurious","full_name":"adrian-lara/apicurious","owner":{"login":"adrian-lara","id":30608004,"avatar_url":"https://avatars2.githubusercontent.com/u/30608004?v=4","gravatar_id":"","url":"https://api.github.com/users/adrian-lara","html_url":"https://github.com/adrian-lara","followers_url":"https://api.github.com/users/adrian-lara/followers","following_url":"https://api.github.com/users/adrian-lara/following{/other_user}","gists_url":"https://api.github.com/users/adr[...]
